* {
	box-sizing: border-box;
}
body {
	margin: 0;
	height: 3000px;
	font-family: 'Helvetica Nueue', 'Helvetica', sans-serif;
}
h1 {
	margin: 50px 15px 15px;
}
pre,
code {
	color: #333;
	font-size: .85rem;
	font-family: 'Monaco', 'Menlo', 'Courier', monospace;
}
code {
	background: #eee;
	padding: 5px 5px 5px 6px;
}
pre code {
	padding: 0;
	background: none;
}
pre {
	margin: 15px;
	tab-size: 2;
	hyphens: none;
	padding: 1rem;
	overflow: auto;
	white-space: pre;
	word-break: normal;
	border-radius: 5px;
	position: relative;
	background-color: #edf6ff;
	-webkit-overflow-scrolling: touch;
}
.viewport {
	overflow: hidden;
	margin-bottom: 20px;
}
.break {
    width: 50%;
	color: #fff;
	float: left;
	padding: 10px;
	background: #ff0000;
	text-align: center;
}
.break:nth-child(2) {
	border-right: 1px solid #fff;
}
.break:last-child {
	border-left: 1px solid #fff;
}
.viewport code {
	display: block;
	text-align: center;
}
[data-state=""] {
	background: #ff0000;
}
[data-state="matches"] {
	background: #b5c104;
}
[data-state="matches"]:after {
	font-style: italic;
	content: ' matches';
}
[data-state="current"] {
	background: #04c104;
}
[data-state="current"]:after {
	font-style: italic;
	content: ' current';
}

@media screen and (max-width: 480px) {
	#css-small {
		background: #04c104;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	#css-medium {
		background: #04c104;
	}
}
@media screen and (max-width: 600px) and (min-height: 600px) {
	#css-medium-alt {
		background: #04c104;
	}
}
@media screen and (min-width: 925px) {
	#css-large {
		background: #04c104;
	}
}
