* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Helvetica Nueue', 'Helvetica', sans-serif;
}
h1 {
	margin: 20px 15px 15px;
}
pre,
code {
	color: #333;
	font-size: .85rem;
	font-family: 'Monaco', 'Menlo', 'Courier', monospace;
}
pre code {
	padding: 0;
	background: none;
}
pre {
	margin: 15px;
	tab-size: 2;
	hyphens: none;
	padding: 1rem;
	overflow: auto;
	white-space: pre;
	word-break: normal;
	border-radius: 5px;
	position: relative;
	background-color: #edf6ff;
	-webkit-overflow-scrolling: touch;
}
#mocha {
    margin: 20px 15px;
}
#mocha .suite {
    margin-left: 0;
}
#btn-popup {
    margin: 15px 15px 20px;
}
.status,
.viewport {
	overflow: hidden;
/*    margin-bottom: 20px;*/
}
.status div {
    width: 50%;
	color: #000;
	float: left;
	padding: 10px;
}
.query {
    text-align: center;
}
.query strong {
    display: block;
}
.query,
.status code {
	background: #eee;
	padding: 5px 5px 5px 6px;
}
.title,
.break {
    width: 50%;
	color: #fff;
	float: left;
	padding: 10px;
	text-align: center;
	background: #ff0000;
}
.title {
    color: #fff;
    background: #181818;
}
.break {
    height: 40px;
}
.title:nth-child(2),
.break:nth-child(2) {
	border-right: 1px solid #fff;
}
.title:last-child,
.break:last-child {
	border-left: 1px solid #fff;
}

[data-state=""] {
	background: #ff0000;
}
[data-state="matches"] {
	background: #04c104;
}
[data-state="matches"]:after {
	content: ' matches';
    font-family: 'Monaco', 'Menlo', 'Courier', monospace;
}
[data-state="current"] {
	background: #04c104;
}
[data-state="current"]:after {
	content: ' current';
    font-family: 'Monaco', 'Menlo', 'Courier', monospace;
}

@media screen and (max-width: 480px) {
	#css-small {
		background: #04c104;
	}
}
@media screen and (max-width: 600px) and (min-height: 600px) {
	#css-medium {
		background: #04c104;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	#css-large {
		background: #04c104;
	}
}
@media screen and (min-width: 925px) {
	#css-xlarge {
		background: #04c104;
	}
}
