* {
	box-sizing: border-box;
}
body {
    margin: 50px 0 0;
	font-family: 'Helvetica Nueue', 'Helvetica', sans-serif;
}
code {
	color: #333;
	font-size: 1.125rem;
	font-family: monospace;
}
pre code {
	padding: 0;
	background: none;
}
pre {
	margin: 15px;
	tab-size: 2;
	hyphens: none;
	padding: 1rem;
	overflow: auto;
	white-space: pre;
	word-break: normal;
	border-radius: 5px;
	position: relative;
	background-color: #edf6ff;
	-webkit-overflow-scrolling: touch;
}

#mocha {
    margin: 20px 15px;
}
#mocha-stats {
     position: unset;
}
#mocha .suite {
    margin-left: 0;
}

#btn-popup {
    padding: 10px;
    display: block;
    font-size: 1rem;
    background: #fff;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #04c104;
    box-shadow: 1px 1px 0px 0px #04c104;
}
#btn-popup:hover {
    cursor: pointer;
}

.status {
    top: 0;
    width: 100%;
    display: flex;
    position: absolute;
    background: #dedede;
    border-bottom: 2px solid #a2a2a2;
}
.status .prop {
    padding: 5px;
    display: inline-block;
    border-right: 1px solid #a2a2a2;
}
.status h1 {
    margin: 0 5px 0;
    font-size: inherit;
    font-family: sans-serif;
}
.status span,
.status code {
    font-size: 1.125rem;
    font-family: monospace;
}
.viewport {
	overflow: hidden;
}
.query {
    padding: 5px 5px 5px 6px;
}
.query strong {
    padding-right: 10px;
}
.title,
.break {
    width: 50%;
	color: #fff;
	float: left;
	padding: 10px;
	text-align: center;
	background: #ff0000;
}
.title {
    color: #fff;
    background: #181818;
}
.break {
    height: 40px;
}
.title:nth-child(2),
.break:nth-child(2) {
	border-right: 1px solid #fff;
}
.title:last-child,
.break:last-child {
	border-left: 1px solid #fff;
}

[data-state=""] {
	background: #ff0000;
}
[data-state="matches"] {
	background: #b5c104;
}
[data-state="matches"]:after {
    font-size: 1.125rem;
	content: ' matches';
    font-family: monospace;
}
[data-state="current"] {
	background: #04c104;
}
[data-state="current"]:after {
    font-size: 1.125rem;
	content: ' current';
    font-family: monospace;
}

@media screen and (max-width: 480px) {
	#css-small {
		background: #04c104;
	}
}
@media screen and (max-width: 600px) and (min-height: 600px) {
	#css-medium {
		background: #04c104;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	#css-large {
		background: #04c104;
	}
}
@media screen and (min-width: 925px) {
	#css-xlarge {
		background: #04c104;
	}
}